<%- include('header'); -%> <%- include('newPassword'); -%>
<div class="container">
    <label>Jesteś zalogowany jako: <%= user.first %> <%= user.last %> </label> <br />
    <label> Na stanowisku: <%= user.position %></label><br />
    <br />

    <div class="container">
        <% if(user.position == "admin"||user.position == "warehouse"){ %>
        <ul class="nav nav-tabs">
            <% if(user.position == "admin"||user.position == "technician"||user.position == "warehouse") {%>
            <li class="nav-item">
                <a class="nav-link" href="/findDevice">Urzadzenie:</a>
            </li>
            <%}%> <% if(user.position == "admin"||user.position == "warehouse") {%>
            <li class="nav-item">
                <a class="nav-link" href="/addDevices">Urządzenia:</a>
            </li>
            <%}%> <% if(user.position == "admin"||user.position == "warehouse") {%>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/addItems">Komponenty:</a>
            </li>
            <%}%> <% if(user.position == "admin"||user.position == "quality") {%>
            <li class="nav-item">
                <a class="nav-link" href="/quality">Kontrola Jakości:</a>
            </li>
            <%}%> <% if(user.position == "admin") {%>
            <li class="nav-item">
                <a class="nav-link" href="/addWorkers">Pracownicy:</a>
            </li>
            <%}%>
        </ul>

        <label>Zarzadanie Komponentami:</label><br />
        <br />
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nazwa</th>
                    <th scope="col">Kompatybilny do urzadzenia</th>
                    <th scope="col">Stan</th>

                    <th scope="col">akcja</th>
                </tr>

                <tr>
                    <form action="/updateItem" method="post" class="addDevice">
                        <th scope="row">-</th>
                        <td>
                            <select name="name" class="form-control">
                                <option>NazwaKomponentu1</option>
                                <option>NazwaKomponentu2</option>
                                <option>NazwaKomponentu3</option>
                            </select>
                        </td>
                        <td>
                            <select name="type" class="form-control">
                                <option>TypUrzadzenia1</option>
                                <option>TypUrzadzenia2</option>
                                <option>TypUrzadzenia3</option>
                            </select>
                        </td>
                        <td><input type="text" class="form-control" name="quantity" placeholder="Ilość" /></td>

                        <td><button class="btn btn-outline-primary" value="Submit">Dodaj</button></td>
                    </form>
                </tr>
            </thead>

            <tbody>
                <% items.forEach(function (user) { %>
                <tr>
                    <%if (user.sn=="brak") {%>
                    <td><%= user.id %></td>
                    <td><%= user.name %></td>
                    <td><%= user.type %></td>
                    <td><%= user.quantity %></td>

                    <td>-</td>
                </tr>
                <%}%> <% }) %>
            </tbody>
        </table>
    </div>
    <% } else{ %>
    <label> Brak uprawnień</label>
    <% } %>
</div>